{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_blog_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>

                <h1>Blogs</h1>

                <table class="table table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.body }}</td>
                            <td>{{ blog.createdAt | date("Y-m-d H:i:s") }}</td>
                            <td>{{ blog.updatedAt | date("Y-m-d H:i:s") }}</td>
                            <td><a href="{{ path('admin_blog_edit', {'id': blog.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}